* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  background-color: black;
  /* background: url(assets/bg-mobile-light.jpg) no-repeat top center/cover; */
}

div {
  margin-top: 7rem; /* distanciamento do topo */
  padding: 15px; /* distanciamento da borda */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal */
  gap: 10px;
}

header img {
  width: 112px;
  border-radius: 100px;
}

header a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

header a:hover {
  color: rgb(182, 8, 115);
}

header h1 {
  padding-top: 30px;
  text-align: center;
}

h1 em {
  color: rgb(55, 205, 50);
}

main {
  display: flex;
  flex-direction: column; /* em coluna */
  gap: 30px; /* distanciamento das sessões */
  margin: 50px; /* distanciamento do header*/
  align-items: center;
}

main section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /*horizontal */
  gap: 40px; /* distanciamento do h2 e p */
}

main section h2 {
  font-size: 25px;
}

main section h2 em {
  color: rgb(26, 60, 170);
}

main section p {
  text-align: center; /* centralizar no meio */
  font-size: 19px;
}
